<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141035166000-d1qe9l1lhkm0f5fc347s32s4up6rj0bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141035166000-d1qe9l1lhkm0f5fc347s32s4up6rj0bg</string>
	<key>API_KEY</key>
	<string>AIzaSyBOckFflUuY4TEy4TgOg5FUlK1nRHUt_IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>141035166000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoCallWebrtc</string>
	<key>PROJECT_ID</key>
	<string>wideo-eea44</string>
	<key>STORAGE_BUCKET</key>
	<string>wideo-eea44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141035166000:ios:94fc7bf148125e490b90f5</string>
</dict>
</plist>